<div class="container ">
  <!-- Contracts menu -->
  <div class="row" style="margin-top:25px; margin-bottom: 25px">
    <div class="col-lg-8" style="margin-bottom: 10px">
      <input type="text"
             [(ngModel)]="searchText"
             class="form-control"
             style="width: 100%;"
             placeholder="Start typing a hotel or address...">
    </div>

    <div class="col-lg-4">

      <a class="btn btn-warning"
         routerLink="/contracts"
         style="margin-right: 2px"
         role="button"><i class="fa fa-search"></i> Search</a>

      <a class="btn btn-warning pull-right"
         routerLink="/contracts/add-contract"
         style="margin-right: 2px"
         role="button"><i class="fa fa-plus"></i> New contract</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!--view contracts-->
<!--display only if not in add contract route-->

<!--no results message-->
<div *ngIf="(contracts | contractFilter:searchText).length == 0 && !hasRoute('add-contract')"  class="container-fluid text-center" style="margin-top: 50px;">
  <img src="../../assets/images/no-results-found.png" class="img-fluid" alt="Sorry! No results found">
</div>

<!--pagination-->
<div *ngIf="(contracts | contractFilter:searchText).length != 0 && !hasRoute('add-contract')" class="col-6 input-group-addon" style="margin-top: 25px" >
  <ngb-pagination [collectionSize]="(contracts | contractFilter:searchText).length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
</div>

<!--contracts display-->
<div class="container-fluid"  *ngIf="!hasRoute('add-contract')">
  <div class="row">
    <div *ngFor="let contract of contracts | contractFilter:searchText| slice: pageSize | slice: 0:itemsPerPage" class="col-md-6" style="margin-top: 25px;">
      <div class="card text-center image" >
        <div class="card-header">
          <div class="card-title pull-left" *ngIf="parseDate(contract.endDate) < today" style="color: red; font-family: Impact,serif; font-size: x-large">Expired</div>
          <div style="font-family: 'High Tower Text',serif; font-weight: bold">
            <div style=" font-size: xx-large;">{{contract.hotelName}}</div>
            <div style=" font-size: large;">{{contract.hotelAddress}}</div>
          </div>
        </div>
        <div class="card-body">

          <p class="card-text" style="color: brown">Valid from {{contract.startDate | date:'dd-MM-yyy'}} to {{contract.endDate | date:'dd-MM-yyy'}}</p>

          <table class="table table-hover">
            <thead>
            <tr class = "table">
              <th scope="col">Room Type</th>
              <th scope="col">Price (LKR)</th>
              <th scope="col">Number of rooms</th>
              <th scope="col">Maximum adults</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contractRoomEntry of contract.contractRoomEntryDTOList">
              <td>{{contractRoomEntry.roomType}}</td>
              <td>{{contractRoomEntry.price}}</td>
              <td>{{contractRoomEntry.noOfRooms}}</td>
              <td>{{contractRoomEntry.maxAdults}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>

        </div>
        <div class="card-footer text-muted text-left" style="font-size: small">*All above rates are per person, per night</div>
      </div>
    </div>
  </div>
</div>

<!--pagination-->
<div *ngIf="(contracts | contractFilter:searchText).length != 0 && !hasRoute('add-contract')" class="col-6 input-group-addon" style="margin-top: 25px">
  <ngb-pagination [collectionSize]="(contracts | contractFilter:searchText).length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
</div>




