.image{
  background-size:cover;
  background-image:url('../../assets/images/yellow.jpg');
  height: 100%;
  top: 0;
  left: 0;
}

.roomStyle {
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
}
