<div class="container" style="margin-top: 50px" >
  <form [formGroup]="parentForm" (submit)="submitHotel()" class="border border-warning p-5 image" name="form" style="background-color: #fffae6">
    <p class="h4 mb-4 text-center" style="font-family: Castellar,serif; font-weight: bold">Add a hotel</p>

    <!--      Hotel name       -->
    <div class="row text-center">
    <div class="col-md-4" >
      <label for="hotelName" class="col col-form-label">Hotel name</label>
      <div class="col">
        <input type="text"
               id="hotelName"
               name="hotelName"
               formControlName="hotelName"
               maxlength="50">
        <!-- input validation -->
        <div *ngIf="hotelName.errors?.required && hotelName.touched" class="invalid-input">
          Hotel name is required
        </div>
      </div>
    </div>

    <!--     Telephone      -->
    <div class="col-md-4" >
      <label for="telephone" class="col col-form-label">Telephone number</label>
      <div class="col">
        <input type="text"
               id="telephone"
               name="telephone"
               formControlName="telephone"
               maxlength="10">
        <!-- input validation -->
        <div *ngIf="telephone.errors?.required && telephone.touched" class="invalid-input">
          Telephone number is required
        </div>
        <div *ngIf="telephone.errors?.pattern && telephone.touched" class="invalid-input">
          Telephone number can only contain numeric values
        </div>

      </div>
    </div>

    <!--     Address      -->
    <div class="col-md-4" >
      <label for="address" class="col col-form-label">Address</label>
      <div class="col">
        <input type="text"
               id="address"
               name="address"
               formControlName="address"
               maxlength="150">
        <!-- input validation -->
        <div *ngIf="address.errors?.required && address.touched" class="invalid-input">
          Address is required
        </div>
      </div>
    </div>

    </div>

    <!--Room queries-->
    <div class="row text-center"  >
      <div class="col">
        <div class="col" style="margin-bottom: 25px; margin-top: 25px">
          <button type="button" (click)="addRoomEntry()" class="btn btn-outline-danger black"><i class="fa fa-plus"></i> Add room type </button>
        </div>
      </div>
    </div>

    <div formArrayName="roomEntries" class="container">
      <div *ngFor="let roomEntry of roomEntryForms.controls; let i=index" [formGroupName]="i" >

        <div class="roomStyle" style="margin-bottom: 25px">
          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteRoomEntry(i)" style="margin-right: 10px; color: black">
            <span aria-hidden="true">&times;</span>
          </button>

            <!--Room type-->
          <div class="row text-center" style="margin-bottom: 25px">
            <div class="col">
              <label for="roomType" class="col col-form-label">Room Type</label>
              <div class="col">
                <input type="text"
                       id="roomType"
                       name="roomType"
                       formControlName="roomType">
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].get('roomType').errors?.required && roomEntryForms.controls[i].get('roomType').touched" class="invalid-input">
                  Please enter room type
                </div>
              </div>
            </div>



        <!--Maximum adults-->
          <div class="col">
            <label for="maxAdults" class="col-form-label">Maximum adults</label>

            <input type="number"
                   min="1"
                   oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                   id="maxAdults"
                   name="maxAdults"
                   formControlName="maxAdults"
                   (change)="noDuplicates()">

            <!-- input validation -->
            <div *ngIf="roomEntryForms.controls[i].get('maxAdults').errors?.required && roomEntryForms.controls[i].get('maxAdults').touched" class="invalid-input">
              Please enter maximum number of adults
            </div>
            <!-- input validation -->
            <div *ngIf="roomEntryForms.controls[i].get('maxAdults').errors?.min && roomEntryForms.controls[i].get('maxAdults').touched" class="invalid-input">
              Number of adults cannot be zero
            </div>
          </div>


          <!--Number of rooms-->
          <div class="col">
            <label for="noOfRooms" class="col-form-label">Physical number of rooms</label>

            <input type="number"
                   min="1"
                   oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                   id="noOfRooms"
                   name="noOfRooms"
                   formControlName="noOfRooms">

            <!-- input validation -->
            <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.required && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
              Please enter number of physical rooms available in hotel
            </div>
            <!-- input validation -->
            <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.min && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
              Number of rooms cannot be zero
            </div>
          </div>
          </div>
      </div>
      </div>
      <div *ngIf="roomEntryForms.errors?.invalidRoomAdultCombination" class="invalid-input">
        Form cannot contain duplicate entries for room type and number of adults
      </div>
    </div>
    <div class="text-center" style="margin-top: 40px">
      <button class="btn btn-warning btn-block" style="font-weight: 700; font-size: large" type="submit" [disabled]="parentForm.invalid" > Submit </button>
    </div>

  </form>
</div>
