<div class="container " >
  <form [formGroup]="parentForm" (ngSubmit)="submitContract()" class="border border-warning p-5 image" name="form" style="background-color: #fffae6;">
    <p class="h4 mb-4 text-center" style="font-family: Castellar, serif; font-weight: bold">Add a contract</p>

<!--    Hotel selection dropdown-->
    <div class="col">
      <label for="select-hotel">Select a hotel</label>
      <select  name="select-hotel"
               class="browser-default custom-select form-control"
               id="select-hotel"
               formControlName="selectedHotel"
               (change)="selectHotel($event)">
        <option *ngFor = "let hotel of hotels" [value]="hotel.id">{{hotel.hotelName}}, {{hotel.address}}</option>
      </select>
      <!-- input validation group -->
      <div *ngIf="selectedHotelValue.invalid && selectedHotelValue.touched" class="invalid-input">
        Please select a hotel
      </div>
      <div *ngIf="selectedHotelValue.touched && selectedHotelValue.invalid" style="color: orange; font-size: medium">
        Didn't register the hotel? Create a <a routerLink="/hotels">new hotel</a>
        <pre style="font-size: small; color: #7f7f7f">*Contracts can only be added to hotels that do not have a non-expired contract</pre>
      </div>

    </div>

<!--    Start date, end date selection-->
    <div class="row">
      <div class="col">
        <label for="myPicker" class="col col-form-label">Start date</label>
        <div class="col">
          <input type="date"
                 class="form-control"
                 id="myPicker"
                 name="startDate"
                 formControlName="startDate">
          <!-- input validation -->
          <div *ngIf="startDate.invalid && startDate.touched" class="invalid-input">
            Please choose a start date
          </div>

        </div>
      </div>

      <div class="col">
        <label for="end-date" class="col col-form-label">End date</label>
        <div class="col">
          <input type="date"
                 class="form-control"
                 id="end-date"
                 name="endDate"
                 formControlName="endDate">
          <!-- input validation -->
          <div *ngIf="endDate.invalid && endDate.touched" class="invalid-input">
            Please choose an end date
          </div>
          <div *ngIf="endDate.valid && parentForm.errors?.invalidEndDate && endDate.touched" class="invalid-input">
            End date cannot be a past date
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="endDate.valid && startDate.valid && parentForm.errors?.invalidDates && !parentForm.errors?.invalidStartDate && !parentForm.errors?.invalidEndDate && endDate.touched && startDate.touched" class="invalid-input text-center">
      End date cannot precede start date
    </div>

<!--    Markup value selection-->
    <div class="col-md-3">
      <label for="markup" class="col-form-label">Markup</label>
      <div class="input-group">
        <input type="number"
               formControlName="markup"
               step="5"
               oninput="validity.valid||(value=value.replace(/[^0-9\.]/g, ''))"
               class="form-control"
               id="markup"
               value="15">
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
    </div>
    <!-- input validation -->
    <div *ngIf="markup.invalid && markup.touched" class="invalid-input col">
      Please enter a valid markup value between 0 and 100
    </div>

    <!--    Add room entries-->
    <div class="row">
      <div class="col">
        <div class="col" style="margin-bottom: 25px; margin-top: 25px">
          <button type="button" [disabled]="selectedHotel == null" (click)="addRoomEntry()" class="btn btn-outline-warning black"><i class="fa fa-plus"></i> Add room entry </button>
        </div>
      </div>
    </div>

    <div formArrayName="roomEntries">
      <div *ngFor="let roomEntry of roomEntryForms.controls; let i=index" [formGroupName]="i" >

        <div class="roomStyle" style="margin-bottom: 25px">
          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteRoomEntry(i)" style="margin-right: 10px ">
            <span aria-hidden="true">&times;</span>
          </button>
<!--room type-->
          <div class="col" style="margin-top: 10px">
            <label for="select-room-type">Select a room type</label>
            <select  name="select-room-type"
                     class="browser-default custom-select"
                     id="select-room-type"
                     formControlName="roomType"
                     (change)="onRoomTypeSelect(i)">
              <option *ngFor = "let roomType of roomTypes" [ngValue]="roomType">{{roomType.type}} with {{roomType.maxAdults}} maximum adults</option>
            </select>
            <!-- input validation -->
            <div *ngIf="roomEntryForms.controls[i].get('roomType').invalid && roomEntryForms.controls[i].get('roomType').touched" class="invalid-input">
              Please choose a room type
            </div>
          </div>
<!--price-->
          <div class="row" style="margin-bottom: 25px">
            <div class="col">
              <label for="price" class="col col-form-label">Price per person per night</label>
              <div class="col">
                <div class="input-group">
                  <input type="number"
                         min="1"
                         oninput="validity.valid||(value=value.replace(/[^0-9\.]/g, ''))"
                         id="price"
                         name="price"
                         formControlName="price">
                  <div class="input-group-append">
                    <span class="input-group-text">LKR</span>
                  </div>
                </div>
              </div>
              <!-- input validation -->
              <div *ngIf="roomEntryForms.controls[i].get('price').errors?.required && roomEntryForms.controls[i].get('price').touched" class="invalid-input col">
                Please enter a price
              </div>
              <!-- input validation -->
              <div *ngIf="roomEntryForms.controls[i].get('price').errors?.min && roomEntryForms.controls[i].get('price').touched" class="invalid-input col">
                Price cannot be zero
              </div>
            </div>
<!--number of rooms-->
            <div class="col">
              <label for="no-of-rooms" class="col col-form-label">Number of rooms</label>
              <div class="col">
                <input type="number"
                       min="1"
                       value="roomEntryForms.value[i]['roomType']['noOfRooms']"
                       oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                       id="no-of-rooms"
                       name="noOfRooms"
                       formControlName="noOfRooms">
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.required && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
                  Please enter number of rooms
                </div>
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.min && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
                  Number of rooms cannot be zero
                </div>
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].errors?.invalidRooms" class="invalid-input">
                  Number of rooms cannot exceed {{roomEntryForms.controls[i].get('roomType').value['noOfRooms']}}
                  <pre>*This is the number of physical rooms provided during hotel registration</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="roomEntryForms.errors?.invalidRoomType" class="invalid-input">
        Form cannot contain duplicate entries for room type
      </div>
    </div>

    <div class="text-center" style="margin-top: 40px">
      <button class="btn btn-warning btn-block" style="font-weight: 700; font-size: large" type="submit" [disabled]="parentForm.invalid" > Save </button>
    </div>

  </form>
</div>

