

.roomStyle {
  border-style: solid;
  border-color: #ffff66;
  border-width: 1px;
}

.image{
  background-size:cover;
  background-image:url('../../../assets/images/yellow.jpg');
  height: 100%;
  top: 0;
  left: 0;
}

