<div class="modal-header" [ngStyle]="{ 'background': color }" style="font-family: Consolas,sans-serif">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngStyle]="{ 'background': color }" style="color: black; font-family: Consolas,sans-serif">
  <p>{{message}}!</p>
</div>
<div class="modal-footer" [ngStyle]="{ 'background': color }">
  <button type="button" class="btn btn-outline-dark" (click)="onClose()">Close</button>
</div>

