<nav id="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-sun-o text-warning"></i>
    <span class="text-warning" style="font-family: Chiller,serif; font-size: xx-large"> Sun Travels</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="/request">Request</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="/contracts">Contracts</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="/hotels">Hotels</a>
      </li>
    </ul>
  </div>
</nav>



