@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(~node_modules/font-awesome/css/font-awesome.css);

.image{
  background-size:cover;
  background-image:url('assets/images/hotel1.png');
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;

}

.yellow-background {
  background-color:yellow;
}

.black {
  color: black;
}

.invalid-input{
  color: red;
  font-size: small;
}




