<div class="container" style="margin-top: 50px" xmlns:width="http://www.w3.org/1999/xhtml">
  <form [formGroup]="parentForm" (ngSubmit)="submitSearch()" class="border border-warning p-5 image" name="form" style="background-color: #fffae6">
    <p class="h4 mb-4 text-center" style="font-family: Castellar,serif; font-weight: bold">Search for rooms</p>

<!--      check-in date-->
      <div class="col col-md-6">
        <label for="myPicker" class="col col-form-label">Start date</label>
        <div class="col">
          <input type="date"
                 class="form-control"
                 id="myPicker"
                 name="startDate"
                 formControlName="startDate">
          <!-- input validation -->
          <div *ngIf="startDate.invalid && startDate.touched" class="invalid-input">
            Please choose a start date
          </div>
          <div *ngIf="startDate.valid && parentForm.errors?.invalidStartDate && startDate.touched" class="invalid-input">
            Start date cannot be a past date
          </div>
        </div>
      </div>

<!--      Number of nights-->
      <div class="col" >
        <label for="noOfNights" class="col col-form-label">Number of nights</label>
        <div class="col">
          <input type="number"
                 min="1"
                 oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                 id="noOfNights"
                 name="noOfNights"
                 formControlName="noOfNights">
          <!-- input validation -->
            <div *ngIf="noOfNights.errors?.min && noOfNights.touched" class="invalid-input">
              Number of nights cannot be zero
            </div>
          <div *ngIf="noOfNights.errors?.required && noOfNights.touched" class="invalid-input">
            Please enter number of nights
          </div>
        </div>
      </div>


<!--Room queries-->
    <div class="row" >
      <div class="col">
        <div class="col" style="margin-bottom: 25px; margin-top: 25px; margin-left: 15px">
          <button type="button" (click)="addRoomEntry()" class="btn btn-outline-primary black"><i class="fa fa-plus"></i> Add room entry </button>
        </div>
      </div>
    </div>
    <div formArrayName="roomEntries" class="container text-center">
      <div *ngFor="let roomEntry of roomEntryForms.controls; let i=index" [formGroupName]="i" >
        <div class="roomStyle" style="margin-bottom: 25px">
          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteRoomEntry(i)" style="margin-right: 10px; color: black">
            <span aria-hidden="true">&times;</span>
          </button>
<!--Number of adults-->
          <div class="row" style="margin-bottom: 25px">
            <div class="col">
              <label for="noOfAdults" class="col col-form-label">Number of adults</label>

                  <input type="number"
                         min="1"
                         oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                         id="noOfAdults"
                         name="noOfAdults"
                         (change)="noDuplicates()"
                         formControlName="noOfAdults">

              <!-- input validation -->
              <div *ngIf="roomEntryForms.controls[i].get('noOfAdults').errors?.required && roomEntryForms.controls[i].get('noOfAdults').touched" class="invalid-input">
                Please enter number of adults
              </div>
              <!-- input validation -->
              <div *ngIf="roomEntryForms.controls[i].get('noOfAdults').errors?.min && roomEntryForms.controls[i].get('noOfAdults').touched" class="invalid-input">
                Number of adults cannot be zero
              </div>
            </div>
<!--Number of rooms-->
            <div class="col">
              <label for="noOfRooms" class="col col-form-label">Number of rooms</label>
              <div class="col">
                <input type="number"
                       min="1"
                       oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                       id="noOfRooms"
                       name="noOfRooms"
                       formControlName="noOfRooms">
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.required && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
                  Please enter number of rooms
                </div>
                <!-- input validation -->
                <div *ngIf="roomEntryForms.controls[i].get('noOfRooms').errors?.min && roomEntryForms.controls[i].get('noOfRooms').touched" class="invalid-input">
                  Number of rooms cannot be zero
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="roomEntryForms.errors?.invalidNoOfAdults" class="invalid-input">
      Cannot contain duplicate entries for number of adults
    </div>
    <div class="text-center" style="margin-top: 40px">
      <button class="btn btn-warning btn-block" style="font-weight: 700; font-size: large" type="submit" [disabled]="parentForm.invalid" > Search </button>
    </div>
  </form>
</div>


<!--search results-->
<div class="container" style="margin-top: 50px" *ngIf="searchResults!=null">
  <div *ngFor="let searchResult of searchResults">
    <div class="card border-primary mb-3 image">
      <div class="card-header" style="font-family: 'High Tower Text',serif; font-size: xx-large; font-weight: bold">{{searchResult.hotelName}}, {{searchResult.hotelAddress}}</div>
      <div class="card-body text-primary">
        <div class="card-text">
          <div *ngFor="let roomEntry of searchResult.searchResultRoomEntryDTOList">
            <table class="table table-bordered table-hover">
              <caption>Availability for {{roomEntry.roomPrefDTO.noOfRooms}} room(s) and {{roomEntry.roomPrefDTO.noOfAdults}} adult(s)</caption>
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Room type</th>
                  <th scope="col" style="width: 50%">Price per room for {{this.searchQuery.noOfNights}} nights (LKR)</th>
                </tr>
              </thead>
              <tbody>

              <tr *ngIf="roomEntry.searchResultRoomEntryList.length==0">
                <td colspan="2" style="color: red">No rooms available for this query</td>
              </tr>
              <tr *ngFor="let searchResultTypePrice of roomEntry.searchResultRoomEntryList">
                <td>{{searchResultTypePrice.type}}</td>
                <td>{{searchResultTypePrice.markedUpPrice | number:'1.0-0'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
